.section.about
	.container
		a.title(name="about")
			h1 Ben Daniel
		p
			span
				span.geek Geek
				span , 
				span.cat Cat Wrangler
				span  &amp; 
				span.dev Full-Stack Developer
				span &nbsp;with over 15 years experience spanning Windows and Web.