.section.contact
	a.title(name="contact")
		h1 Contact
	p
		| Today I survive as a soldier of fortune.
		| If you have a problem, if no one else can help, and if you can find me, maybe you can hire me...

	.row.links
		.col-sm-3
			h3
				a.contact(href='mailto:bendaniel@gmail.com') Email
		.col-sm-3
			h3
				a.contact(href='http://au.linkedin.com/in/codeandcats') LinkedIn
		.col-sm-3
			h3
				a.contact(href="https://github.com/codeandcats") GitHub
		.col-sm-3
			h3
				a.contact(href="http://codeandcats.com") Old Blog