doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Ben Daniel
		link(rel="icon", type="image/png", href="/images/favicon-cat-head.png", sizes="any")
		link(rel='stylesheet', type='text/css', href='/stylesheets/lib/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/app/style.css')
		script(src='/javascripts/modernizr-2.6.2.js')
	body
		include ./navbar.jade

		include ./about.jade

		.content-sections
			.container
				include ./skills.jade

				include ./work-history.jade

				include ./education.jade
							
				include ./contact.jade

		.section.footer
			p.text-center
				| Copyright &copy; #{year} Ben Daniel. Written with Node.js, Express, Jade, Less, Bootstrap.

		script(src="/javascripts/jquery-1.10.2.js")
		script(src="/javascripts/bootstrap.js")
		script(src="/javascripts/respond.js")
		script(src="/javascripts/smooth-scroll.js")
		//script(src="/javascripts/bootstrap-close-nav.js")
		script(src='/javascripts/menus.js')