.navbar.navbar-inverse.navbar-fixed-top
	.container
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar

			a.navbar-brand.visible-xs(href='/') Ben Daniel

		.navbar-collapse.collapse
			ul.nav.navbar-nav
				li.about
					a(href='/#about', data-toggle='collapse', data-target='.navbar-collapse') About
				li.skills
					a(href='/#skills', data-toggle='collapse', data-target='.navbar-collapse') Skills
				li.work-history
					a(href='/#work-history', data-toggle='collapse', data-target='.navbar-collapse') Work History
				li.education
					a(href='#education', data-toggle='collapse', data-target='.navbar-collapse') Education
				li.contact
					a(href='/#contact', data-toggle='collapse', data-target='.navbar-collapse') Contact