.section.skills
	a.title(name="skills")
		h1 Skills

	h2 Programming/Markup Languages
	.row
		.col-sm-6
			ul
				li ASP.NET MVC, Classic ASP
				li JavaScript
				li TypeScript
				li HTML5
				li Razor, EJS, Jade, Handlebars
				li CSS3, Less, Sass
				li PHP
				li XML
		.col-sm-6
			ul
				li C#
				li Delphi
				li Powershell
				li SQL
				li Visual Basic for Applications
				li Java
				li Ruby

	h2 Technologies
	.row
		.col-sm-6
			div
				h3 Web Frameworks & Tools
				ul
					li Asp.Net MVC, Web API
					li Knockout JS, Angular
					li Sass, Less
					li Bootstrap, Foundation
					li Node, Express, Grunt
					li jQuery, Linq JS

			div
				h3 Testing Frameworks
				ul
					li VS 2012 Built-in Unit Test Framework
					li NUnit
					li DUnit
					li Jasmine
					li Selenium

			div
				h3 Integrated Development Environments
				ul
					li Microsoft Visual Studio 2005 to 2015
					li Windows Azure, Visual Studio Online (Monaco)
					li Borland Delphi v4 to v2009
					li Google Apps
					li MonoDevelop
					li Microsoft Visual Basic 5, 6
					li Visual Web Developer
					li Embedded Visual Basic for Pocket PC
			
			div
				h3 Graphics & Design
				ul
					li Adobe Flash
					li Adobe Edge Animate
					li Unity3D
					li Paint.NET
					li Microsoft XNA

			div
				h3 Office
				ul
					li Outlook, Word, Excel, Access, Project, Visio
					li Google Drive Apps

		.col-sm-6
			div
				h3 Database Management Systems
				ul
					li Interbase
					li Firebird
					li SQL Server
					li Sqlite
					li MySQL

			div
				h3 Version Control
				ul
					li GIT
					li TFS
					li Perforce
					li SVN
					li CVS

			div
				h3 DevOps / Continuous Integration
				ul
					li TeamCity
					li Octopus Deploy
					li VMWare Workstation
					li PowerShell

			div
				h3 Agile Software
				ul
					li Jira
					li Confluence

			div
				h3 Operating Systems
				ul
					li Windows 98, 2000, XP, Vista, 7, 8
					li Windows Server 2003, 2008, 2012
					li Windows Home Server 2008, 2011
					li Mac OS X