.section.skills
	a.title(name="skills")
		h1 Skills

	each section in skills
		h2 #{section.title}
		.row
			each column in section.columns
				.col-sm-6
					each list in column.lists
						if list.title
							h3 #{list.title}
						ul
							each skill in list.skills
								li #{skill}
