.section.work-history
	a.title(name="work-history")
		h1 Work History

	.row
		.col-sm-8
			h3.title Software Developer
			.company Tatts Online, Tatts Group (2014 - Present)
			p
				| Tatts is a global leader in the wagering, lotteries and
				| gaming industries with an operational footprint
				| extending across Australia, New Zealand and into the
				| United Kingdom. The race & sports wagering division
				| generates sales in excess of $3.6 billion annually.
			p
				| I work in the online department in an Agile
				| environment helping develop their next generation
				| wagering site 
				a(href="http://ubet.com") ubet.com
				| . The project used a Microsoft
				| stack including heavy use of TypeScript, Knockout JS,
				| Asp.Net Mvc, restful webservices, IIS & SQL Server. For
				| continuous integration we used TeamCity, Team
				| Foundation Server, Git, Octopus Deploy and Selenium
				| & Jasmine for automated UI and JavaScript Unit
				| Testing.
			p
				| The duties for this role included creating TypeScript
				| code for web front end, markup & css integration,
				| creating jasmine unit tests, backend api.

		.col-sm-4.hidden-xs
				
	.row
		.col-sm-8
			h3.title Development Team Leader
			.company Civica (2011 - 2012)
			p
				| Civica work with more than 1,800 organisations in
				| the local government, library, enforcement, education
				| and healthcare sectors in Australia, New Zealand,
				| Asia, the United Kingdom and the United States.
				| Civica provide software and services for 300 councils
				| across Australia and New Zealand.
			p
				| After consulting on a technology upgrade project, I
				| accepted a lead developer role managing a small
				| development team. This involved developing new
				| features and debugging existing issues while
				| managing other dev team members.
				
		.col-sm-4.hidden-xs

	.row
		.col-sm-8
			h3.title Software Development Consultant
			.company LXD (2011)
			p
				| Using long service leave I did some C# consulting
				| work for an agricultural software company. This work
				| involved optimising & rewriting K-Dimensional search
				| algorithms used for spatial mapping. NUnit was used
				| for test assurance.

		.col-sm-4.hidden-xs

	.row
		.col-sm-8
			h3.title Software Developer / Analyst
			.company Practical Computer Services (10 years)
			p
				| Practical Computer Services is a private company that
				| has been a supplier of software & hardware solutions
				| for local government since 1980. Each council
				| database consists of over 800 tables and 2000 stored
				| procedures.
			p
				| In this position I had a varied role designing, creating
				| & maintaining a subset of modules for a suite of 40+
				| business applications.
			p
				| Just a few of the applications I've designed &
				| maintained include but are not limited to 2-tier
				| desktop business applications, company intranet for
				| launching remote access to computers at customer
				| sites, utilities for validating, cleansing & converting
				| data, water meter reader application for mobile
				| devices as well as many visual and nonvisual
				| components for Delphi.
		.col-sm-4.hidden-xs