.section.work-history
	a.title(name="work-history")
		h1 Work History

	each job in workHistory
		.row
			.col-sm-8
				h3.title #{job.title}
				.company #{job.company} (#{job.years})
				p
					!= job.description